body {
  background-image: url(../images/khbackground.jpg);
  background-size: cover;
}

.playersstartContainer {
  position: absolute;
  margin-top: 350px;
  margin-left: 20px;
  border: 10px;
  border-style: dashed;
  border-color: white;
}

.playerchooseContainer {
  position: absolute;
  margin-top: 350px;
  margin-left: 20px;
  border: 10px;
  border-style: dashed;
  border-color: white;
}

.playerenemyContainer {
  position: absolute;
  margin-top: 350px;
  margin-left: 20px;
  border: 10px;
  border-style: dashed;
  border-color: white;
}

.startbuttonContainer {
  position: absolute;
  margin-top: 40px;
  border: 10px;
  border-color: white;
  border-style: dashed;
  padding: 5px;
  margin-left: 20px;
  text-align: center;
}

.pickbuttoncontainer {
  position: absolute;
  margin-top: 40px;
  border: 10px;
  border-color: white;
  border-style: dashed;
  padding: 5px;
  margin-left: 20px;
  text-align: center;

}

.dialoguebox {
  position: absolute;
  margin-top: 400px;
  border: 5px;
  border-color: white;
  border-style: dashed;
  padding: 20px;
  width: 230px;
  height: 200px;
  margin-left: 370px;
  text-align: center;
}

#attackdialogueone {
  padding-top: 5px;
  padding-bottom: 5px;
}

#attackdialoguetwo {
  padding-top: 5px;
  padding-bottom: 20px;
}


h1,h5,h3 {
  color: white;
}

.versus {
  position: absolute;
  margin-left: 200px;
  margin-top: 100px;
}

.pickedsoracontainer {
  position: absolute;
  margin-left: 50px;
  margin-top: 20px;
}

.pickedrikucontainer {
  position: absolute;
  margin-left: 50px;
  margin-top: 20px;
}

.pickeddonaldcontainer {
  position: absolute;
  margin-left: 50px;
  margin-top: 20px;
}

.pickedgoofycontainer {
  position: absolute;
  margin-left: 50px;
  margin-top: 20px;
}

.soraenemypickedcontainer {
    position: absolute;
    margin-left: 250px;
    margin-top: 20px;
}

.rikuenemypickedcontainer {
    position: absolute;
    margin-left: 250px;
    margin-top: 20px;
}

.donaldenemypickedcontainer {
    position: absolute;
    margin-left: 250px;
    margin-top: 20px;
}

.goofyenemypickedcontainer {
    position: absolute;
    margin-left: 250px;
    margin-top: 20px;
}

p {
  font-size: 20px;
  position: absolute;
  background-color: white;
  margin-left: 30px;
}

.attackbutton {
  position: absolute;
  margin-left: 450px;
  margin-top: 350px;
}
